# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore


/.idea/
/project/boot/
/project/plugins/project
/conf/hosted.conf
/conf/musicrest-local.conf
target/
cache/
deprecated/
lib_managed/
src_managed/
test-output/
*.iml
build.sbt.1.1M8
DBbackup.sh
DBrestore.sh
remoteuserinsertLenovo.sh
remoteuserinsertLinode.sh
